body {
   width: 100%;
}

.logo {
   width: 100px;
   height: 100px;
   position: relative;
   top: 1.5rem;
   left: 1.5rem;
   background-image: url("../img/logo.jpeg");
   background-size: cover;
   border-radius: 50%;
}

#refresh-button {
   position: absolute;
   top: 3.8rem;
   right: 3rem;
   background-color:#fff;
   font-size: 1.5rem;
   font-weight: 900;
   border: none;
}

#main-title {
   width:50%;
   margin:auto;
   margin-top:35%;
   text-align:center;
   font-size: 1.5em;
   color:  rgb(26, 19, 19);
}

#opcoes-de-molas {
   display: block;
   width: 50%;
   max-width: 300px;
   margin: auto;
   margin-top: 5%;
   padding-left: .20rem;
}


form {
   display: flex;
   flex-direction: column;
   width: 50%;
   max-width: 300px;
   margin: auto;
   
}

form .inputs {
   margin-bottom: 1rem;
   border-radius: 25px;
   padding-left: .5rem;
}

#missao-visao {
   margin-top: 37%;
}

.valores {
   width:90%;
   margin:auto;
   padding: 1.5rem;
   margin-bottom: 1.5rem;
}

.titulo-valores {
   text-align: center;
   padding-bottom: 1rem;
   color:rgb(114, 110, 110);
}

#img-molas {
   border-radius:5px;
   width: 90%;
   max-width: 400px;
   margin: auto;
   margin-top: 50%;
   padding: .5rem;
}

#img-molas .cards-de-molas {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-bottom: 5rem;
   border: 1.5px solid #000;
   border-radius:10px;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.cards-de-molas h2 {
   font-size: larger;
   text-align: center;
}

.detalhes-molas {
   padding: 2rem;
}

.container-buttons-cards {
   display: inline-flex;
   justify-content: space-between;
}

.button {
   width: 30%;
   margin-top: 1rem;
   margin-left: 1.5rem;
}

.button-orcamento {
   margin-top: 1rem;
   margin-right: 1.5rem;
}

.detalhes-das-molas {
   margin-top: 1rem;
   padding-top: 1rem;
}

.hidden {
   display: none;
}

footer {
   background: linear-gradient(to top , #09095e , #3939ad);
   padding-bottom:1rem;
}

.text-footer {
   margin-top: 2rem;
   padding: 1rem;
   text-decoration: none;
   color: #d4cdcd;
}

.bi-whatsapp {
   font-size: xx-large;
   color:#25D366;
}

.atendimento-personalizado {

   text-decoration: none;
   font-size: large;
   color: #d4cdcd;
}

small {
   display: block;
   width: 70%;
   margin: auto;
   margin-top: 5.5rem;
   font-size: smaller;
   color:#fff;
}

#small-text {
   font-size: smaller;
   font-style:oblique;
   color: #81b681;
}
